:root {
  --link-hue: 200;
  --link-saturation: 100%;
  --link-lightness: 50%;
  --link-hue-hover: var(--link-hue);
  --link-saturation-hover: var(--link-saturation);
  --link-lightness-hover: calc(var(--link-lightness) + 15%);
}

a {
  color: hsl(var(--link-hue), var(--link-saturation), var(--link-lightness));
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover, a:focus-visible {
  color: hsl(
    var(--link-hue-hover),
    var(--link-saturation-hover),
    var(--link-lightness-hover)
    );
}

.color-twitter {
  --link-hue: 203;
  --link-saturation: 89.32%;
  --link-lightness: 53.2%;
}

.color-bsky {
  --link-hue: 211;
  --link-saturation: 100%;
  --link-lightness: 53.5%;
}

.color-mstdn {
  --link-hue: 185.83;
  --link-saturation: 91.62%;
  --link-lightness: 37.45%;
}

.color-github {
  --link-hue: 0;
  --link-saturation: 100%;
  --link-saturation-hover: 85%;
  --link-lightness: 100%;
}

@media (prefers-color-scheme: light) {
  .color-github {
    --link-hue: 0;
    --link-saturation: 0%;
    --link-lightness: 0%;
    --link-lightness-hover: 30%;
  }
}